# dependencies
node_modules/
bun.lockb

# build output
out/
dist/
*.tgz

# coverage
coverage/
*.lcov

# logs
logs/
*.log

# environment variables
.env
.env.*.local

# caches
.eslintcache
.cache/
*.tsbuildinfo

# editors
.idea/
.vscode/
*.swp
*.swo

# os
.DS_Store
Thumbs.db
